.header {
  font-family: "Nunito", sans-serif;
  background: #3490dc;
  height: 60px;
  border-radius: 8px;
}

.header a {
  color: #e3342f;
}

.footer {
  font-family: "Nunito", sans-serif;
  background: #f66d9b;
  height: 60px;
}

.footer a {
  color: #4dc0b5;
}

